/* edit-youtube-component css*/

.outer-mock h3{
    margin-bottom:20px ;
}
.outer-mock input{
    margin-bottom: 10px;
}

.margin-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    margin-top: 10px;
}
.delete-component{
    /*text-align: center;*/
    text-align:center;
    padding: 10px;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
}

.cancel-button{
    text-align:center;
    width:75px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #CFCFCF;
    border: none
}
.done-button{
    text-align:center;
    width:75px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none
}

.load-button{
    text-align:center;
    width:75px;
    padding: 10px;
    margin-bottom: 6px;
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none
}

