.container {
    background: rgb(68,57,37);
    background: linear-gradient(135deg, rgba(68,57,37,1) 0%, rgba(83,46,46,1) 50%, rgba(57,15,85,1) 100%); /* Éstos colores */
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.Home-Container{
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
}

.Home-Container .left{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 30%;
    border-radius: 40px 0px 0px 40px;
}

.Home-Container .right{
    background-color: rgb(0, 0, 0);
    height: calc(100% -100px);
    width: 70%;
    border-radius: 0px 40px 40px 0px;
}

.margin-left-top{
    margin-left: 50px;
    margin-top: 70px;
}

.btn{
    text-align: center;
    border-radius: 25px;
    border-color: transparent ;
    background-color:#5200e0;
    color: white;
    height: 50px;
    width: 265px;
    margin-left: 50px ;
    margin-top: 10px;
}

.link-log-in{
    margin-top: 10px;
    text-align: center;
    color:#5200e0;
}

.link{
    color: #888;
    margin-top: 510px;
    margin-left: 700px;
    margin-right: 5px;;
}

.link-margin-right{
    margin-right: 10px;
}
