body, html {
    height: 100% !important;
    padding: 0;
    margin: 0;
}

.dashboard-container {
    background-color: #CFCFCF;
    color: #111;
    height: 100vh;
}

.dashboard-container .dash-container {
    text-align: justify;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 6px 8px 0 rgba(0, 0, 0, .19);
}

.dashboard-container .dash-container .welcome {
    padding: 15px;
    margin: 10px;
}

.dashboard-container .dash-container .left {
    display: flex;
}

.dashboard-container .dash-container .right {
    background-color: rgb(255, 255, 255);
    display: block;
}

.dashboard-container .dashboard-modal {
    border: none;
    border-radius: 30px;
    padding: 50px;
}

.dashboard-container .dashboard-modal .component-types-container {
    padding: 20px;
    margin: 20px 0;
    width: calc(100% - 40px);
    background: #eee;
    border-radius: 20px;
}

.dashboard-container .dashboard-modal .component-types-container .component-to-select {
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    border-radius: 13px;
    background: white;
    border: black 3px solid;
}

.notice {
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.success {
    background: #a0ff7e;
    color: #157e00;
}

.important {
    background: rgb(255, 161, 165);
    color: rgb(84, 20, 23);
}

.profile-button {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin: 15px;
    border: none;
    background-size: contain;
    color: transparent;
}

.publish-button {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none;
}

.dashboard-container .dash-container2 {
    text-align: justify;
    justify-content: space-between;
    width: 100%;
    display: flex;
    height: calc(100% - 70px);
}

.left-component {
    width: 30%;
}

.right-component {
    width: 70%;
}

.profile-container {
    overflow-y: scroll;
    background: linear-gradient(135deg, rgb(45, 18, 107) 25%, rgb(50, 15, 74) 100%);
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 6px 8px 0 rgba(0, 0, 0, .19);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    color: white;
}

p {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.outer-mock {
    background-color: rgb(255, 255, 255);
    width: calc(100% - 100px);
    height: calc(100% - 120px);
    margin: 20px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 6px 8px 0 rgba(0, 0, 0, .19);
    overflow-y: scroll;
}

.outer-mock h3 {
    text-align: left;
    padding-bottom: 30px;
    padding-top: 20px;
}

.inner-mock {
    height: calc(100% - 140px);
    border-radius: 20px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #eee;
    display: block;
}

h3 {
    text-align: center;
}

.title {
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    width: calc(100% - 34px);
    height: 14px;
    border: solid 3px black;
    background: #fff;
    color: #000;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    padding: 14px;
}

.description-text-box-size {
    width: calc(100% - 35px);
    height: 45%;
    resize: none;
    border: solid 3px black;
    background: #fff;
    color: #000;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    padding: 14px;
}

.outer-mock .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none
}

.outer-mock .default {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

.unraised {
    background-color: #b4b4b4 !important;
    color: #000 !important;
}
