
.icon-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    border: none;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 6px 8px 0 rgba(0, 0, 0, .19);
    margin: 3px;
    cursor: pointer;
}


.inner-mock {
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.inner-mock .icon-button {
    min-width: 30px !important;
    height: 30px !important;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.inner-mock .input {
    height: 0 !important;
    margin: 8px !important;
}

.inner-mock .hero svg {
    width: 20px !important;
    height: 20px !important;
    margin: 15px;
}

.inner-mock .link-content {
    display: flex;
    justify-content: space-between;
    text-align: right;
    vertical-align: center;
    align-items: center;
    width: 100%;
}

.inner-mock .link-content .icon-button {
    margin-top: 0;
}

/*
border-radius: 15px;
width: 30px;
height: 30px;
justify-content: center;
text-align: center;
padding: 2px;*/


/*
.icon-button svg {
    height: 30px;
    width: 30px;
}

.icon-list-div svg {
    width: 20px;
    height: 20px
}
*/

.icon-list-div svg {
    width: 15px;
    height: 15px;
    margin-top: 4.5px;
}

.icon-list-div {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 13px;
    margin-top: 10px;
    /*margin-bottom: 20px; */
    margin-bottom: 5px;
    background-color: #eee;
}

.outer-mock h3 {
    margin-bottom: 20px;
}

.button-label {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none;
    display: inherit;
    text-align: center;


}

.file-button {
    display: none;
}

/*
TEMPORARLY REMOVING FILE BUTTON STYLE
.file-button {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none;
    color: transparent;
}
*/


.pdf {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    background-color: #eee;
}

.pdf object {
    width: 100%;
    height: 100%;
}

.margin-button {
    text-align: right;
    margin-top: 10px;
}

.done-button {
    width: 75px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none;
}

.outer-mock h3 {
    margin-bottom: 20px;
}

.user-top {
    margin-bottom: 20px;
}

.button-center {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.button-center label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.user-button {
    padding: 0px;
    border-radius: 125px;
    width: 250px;
    height: 250px;
    border: none;
    background-size: cover;
}

.image {
    width: 100%;
    height: 100%;
}

.user-bottom {
    height: calc(50% - 100px);
}

.outer-mock .input {
    width: calc(100% - 25px);
    height: 14px;
    border: solid 3px black;
    background: #fff;
    color: #000;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.user-bottom .delete-button {
    width: 140px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #cb0e0e;
    color: white;
    border: none;
    margin-top: 10px;
}

.container-done-button {
    height: calc(100% - 150px);
    text-align: right;
    padding-top: 50px;
}

.button-container {
    display: flex;
    text-align: right;
    justify-content: right;
}

.button-container .button {
    margin-left: 10px !important;
}

.special-mock {
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #eee;
    display: block;
}

.special-mock .icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.margin-button {
    text-align: right;
}

.delete {
    background-color: red !important;
}

.done-button {
    text-align: center;
    width: 75px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    background-color: #6a28d3;
    color: white;
    border: none
}

.inner-mock2 {
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    display: block;
    text-align: center;
}

.hero .link-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
}

.hero .bump {
    padding-right: 10px;
}

.inner-mock3 {
    width: 100%;
    border: none;
    padding: 3px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
