.card .component .v-link-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card .component .llitem {
    display: flex;

    align-items: center;

    background: var(--link-background);

    border-radius: 30px;

    color: var(--profile-text-accent);
}

.card .component .vitem {
    min-width: 205px;
    max-width: 305px;
    flex: 1 1 40%;

    flex-direction: column;

    margin: 10px;

    text-align: center;
}

.card .component .vitem .image {
    height: 225px;

    background-color: rgba(255, 255, 255, 0.1);

    background-position: center;
    background-size: cover;

    border-radius: 30px 30px 0 0;
}

.card .component .vitem .title {
    margin: 10px;
}

.card .component .vitem .title h2 {
    font-size: calc(0.8vw + 1vh);
    font-weight: 600;
}

.card .component .hitem {
    margin: 20px 0;

    width: 100%;
    height: 120px;
}

.card .component .hitem .image {
    width: 120px;
    height: 120px;

    background-position: center;
    background-size: cover;

    border-radius: 30px 0 0 30px;
}

.card .component .hitem .title {
    margin: 0 0 0 30px;
}

@media only screen and (max-width: 480px) {
    .card .component .hitem {
        height: 90px !important;
    }

    .card .component .hitem .image {
        width: 90px !important;
        height: 90px !important;
    }
}