.socials {
    display: flex;

    margin: 0 auto;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.socials-d2 {
    text-align: left;
    align-items: start;
    justify-content: left;
    margin-left: -12px;
}

.socials a, .socials button {
    background: transparent;

    border: none;
    text-decoration: none;

    cursor: pointer;

    margin: 0 10px;
    padding: 10px;

    color: var(--profile-text-accent)
}

.socials-d2 a, .socials-d2 button {
    padding: 5px;
    margin: 0 7px;
}

.socials-d2 a svg, .socials-d2 button svg {
    width: 25px;
    height: 25px;
}
