html, body {
    background: var(--profile-background) !important;
    color: var(--profile-text-accent) !important;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--push-link);
}

.content {
    margin: 0;
    padding: 70px 0
}

.card {
    user-select: none;
    margin: 0 auto;

    background: var(--card-background);

    width: 60%;
    max-width: 750px;

    border-radius: 40px;
}

.card .header-d1 {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.card .header-d1 .banner-d1 {
    width: 100%;
    height: 200px;

    background-size: cover;
    background-position: center;

    border-radius: 10px 10px 0 0;
}

.card .header-d1 .profile-picture-d1 {
    margin-top: -90px;
    width: 280px;

    border-radius: 30px;
}

.card .header-d1 .username {
    color: var(--username-text);
}

.card .component {
    padding: 10px 0;
    margin: 0 50px;
}

.editing {
    border-top: solid 1px #333333;
}

.card .component img {
    max-width: 100%;
}

.card .component hr {
    background: #333333;
    border: none;
    height: 1px;
}

.card .component-no-dividers {
    border-top: none !important;
}

.card .add-component-button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 50px 0;
}

.card .component .add-component-button {
    color: white;
    border: none;
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--add-comp-btn-clr);
    border-radius: 20px;
}

.card .selectableComponent:hover {
    background: var(--select-component);
    cursor: pointer;
}

.card .metadata {
    padding-bottom: 1em;
}

.card .footer {
    padding: 35px 0;
    margin: 0 50px;

    color: var(--accent-lines);

    text-align: end;
    font-size: 14px;

    border-top: solid 1px var(--accent-lines);
}

@media only screen and (max-width: 880px) {
    .content {
        margin: 0;
        padding: 40px 0
    }

    .card {
        width: 80%;
        min-width: 550px;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: calc(1.3vw + 2vh) !important;
        font-weight: 800;
    }

    h2 {
        font-size: calc(1.4vw + 1.7vh) !important;
        font-weight: 800;
    }

    h3 {
        font-size: calc(1vw + 1.7vh);
        font-weight: 800;
    }

    .card .header-d1 .banner-d1 {
        display: none;
    }

    .card .header-d1 .profile-picture-d1 {
        margin-top: 70px;
        width: 70%;
        max-width: 280px;

        border-radius: 30px;
    }

    .content {
        margin: 0 !important;
        padding: 0 !important;
    }

    .card .component {
        padding: 5px 0 !important;
        margin: 0 50px;
    }

    .card {
        min-width: 100%;
        border-radius: 0 !important;
    }

    @media only screen and (max-width: 480px) {
        .card .header-d2 {
            justify-content: space-around;
        }

        .card .component {
            margin: 0 20px !important;
        }
    }
}
