@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0 auto;
    padding: 0;

    /* Setting variables */
    --push-link: #4d2a80;
    --push-text: rgb(241, 241, 241);
    --push-bg1: rgb(28, 31, 37);

    font-family: "Poppins", serif;

    display: block;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.xxl {
    font-family: 'Raleway', sans-serif;
    font-size: calc(4vw + 2vh);
    font-weight: 800;
}

.xl {
    font-family: 'Raleway', sans-serif;
    font-size: calc(3vw + 2vh);
    font-weight: 800;
}

.l {
    font-family: 'Raleway', sans-serif;
    font-size: calc(2vw + 2vh);
    font-weight: 800;
}


.ll {
    font-family: 'Raleway', sans-serif;
    font-size: calc(1.5vw + 2vh);
    font-weight: 800;
}


.m {
    font-family: 'Raleway', sans-serif;
    font-size: calc(1.2vw + 1vh);
    font-weight: 800;
}

.mm {
    font-family: 'Raleway', sans-serif;
    font-size: calc(1vw + 1vh);
    font-weight: 700;
}

.s {
    font-family: 'Raleway', sans-serif;
    font-size: calc(0.5vw + 1vh);
    font-weight: 700;
}

.ss {
    font-family: 'Raleway', sans-serif;
    font-size: calc(0.4vw + 0.7vh);
    font-weight: 700;
}

/* Remove annoying margin in paragraphs */
.p-no-margin-top {
    margin-block-start: 0;
    margin-inline-start: 0;
}

.p-no-margin-bottom {
    margin-block-end: 0;
    margin-inline-end: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    background-color: #b4b4b4 !important;
    color: #000 !important;
}

a {
    cursor: pointer;
}